/* Thiết lập font chữ và màu nền cho trang */
body {
    font-family: Arial, sans-serif; 
    background-color: hsl(0, 0%, 85%);
    font-size: 16px; 
}

/* Phần tiêu đề "Danh sách người dùng" */
h2 {
    text-align: center;
    margin-top: 20px;
}

/* Bảng hiển thị danh sách người dùng */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style cho các thẻ <th> và <td> trong bảng */
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Style cho thẻ <th> trong bảng */
th {
    background-color: #f2f2f2;
}

/* Style cho button-group */
/* Style cho button-group */
.button-group {
    text-align: left; /* Căn phải */
    margin-bottom: 20px;
    margin-top: 10px; /* Khoảng cách từ phía trên */
}

/* Style cho button trong button-group */
.button-group button {
    background-color: #fff4c4;
    color: rgb(9, 9, 9);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

/* Hover style cho button */
.button-group button:hover {
    background-color: #ffd208;
}
